<!DOCTYPE html>
@using System.Security.Claims;
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PresentationLayer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (User.IsInRole("Member"))
                {
                    <a class="navbar-brand" asp-area="" asp-page="/List">Management</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-page="/List">Shopping</a>

                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Member"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">List of Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Index">List of Member</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">List of Order</a>
                            </li>
                        }
                        else if(User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">List of Order</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Customer"))
                            {
                                <li class="nav-item ml-auto col-3">
                                    <a class="nav-link text-dark" href="/Customer/Details?id=@User.Claims.First(x=> x.Type == ClaimTypes.NameIdentifier).Value">Hello, @User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item ml-auto">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logout</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item ml-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Register">Sign up</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Error"]
                </div>
            }
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Message"]
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PresentationLayer - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
